@use 'variables' as *;
@use 'base/reset';
@use 'components/card';
@use 'components/header';

main {
    padding: 0px 50px 0px 50px;
}

.title {
    border-bottom: 1px $border-color;

    margin-bottom: 20px;
}