<%- include('partials/header') %>

<section>

    <% players.forEach(player => { %>
        <div>
            <div>
                <h4><%= player.nickname %></h4>
                <p></p>
            </div>
        </div>
    <% }) %>

</section>


<%- include('partials/footer') %>