<%- include('partials/header') %>

<h4>test</h4>

<section>

    <% players.forEach(player => { %>
        <div>
            <div>
                <h4><%= player.nickname %></h4>
                <p>SDAFASDFASDFSA</p>
            </div>
        </div>
    <% }) %>

</section>

<%- include('partials/footer') %>
