<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>CSpedia</h1>
        <nav>
            <a href="/">Teams</a>
            <a href="/players">Players</a>
            <a href="/teams/ny">+ New Team</a>
        </nav>
    </header>
    <main>