@use '../variables' as *;

.card-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

}

.card {
    border: 1px $border-color;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    background-color: darken($primary-color, 5%);
}

.card-img {
    background-image: var(--bg-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;

}

