@use '../variables' as *;

header {
    background-color: #404040;
    color: $primary-color;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    border-bottom: 4px $border-color;

    a {
        color: $primary-color;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }
}