header {
    background-color: #404040;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    border-bottom: 4px solid black;

    a {
        color: #fff;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }
}